 :root {
    --main-bg-color: #e8e8e1
} 

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    text-decoration: none;
    list-style: none;
}

main {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 1;

}

::-webkit-scrollbar {
    display: none;
}


.scrollable {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    will-change: transform;
}

.content {
    position: relative;
    width: 100%;

}

section {
    position: relative;
    height: 50vh;
    /* border: 1px solid red; */
}

 .img-1 {
    position: absolute;
    top: 5%;
    left: 40%;
    width: 40%;
    height: 90%;

}

 .img-2 {
    position: absolute;
    top: 20%;
    left: 40%;
    width: 40%;
    height: 90%;

} 

.img-3 {
    position: absolute;
    top: 10%;
    left: 40%;
    width: 20%;
    height: 90%;

}


.img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    border: 1px solid red;
    
}
 
 
 

